<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Module_4_Assignment/src/inter/photo/test/Test_Inter_Photo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="inter.photo.test.Test_Inter_Photo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Module_4_Assignment"/>
</launchConfiguration>
